@page
@model WebApp.Pages.Availability.IndexModel

@{
	ViewData["Title"] = "Teacher availabilities";
}

<h1>Teacher availabilities</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(m => m.TeacherAvailability[0].TeacherEmail)
		</th>
		<th>
			@Html.DisplayNameFor(m => m.TeacherAvailability[0].RoomDisplay)
		</th>
		<th>
			@Html.DisplayNameFor(m => m.TeacherAvailability[0].DaysDuration)
		</th>
		<th>
			@Html.DisplayNameFor(m => m.TeacherAvailability[0].HoursDuration)
		</th>
		<th>
			@Html.DisplayNameFor(m => m.TeacherAvailability[0].DurationMins)
		</th>
		<th></th>
	</tr>
	</thead>
    <tbody>
@foreach (var item in Model.TeacherAvailability) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.TeacherEmail)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.RoomDisplay)
		</td>

		<td>
			@Html.DisplayFor(modelItem => item.DaysDuration)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.HoursDuration)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DurationMins)
		</td>
		<td>
			<a asp-page="../Reservation/Index">Go to Reservations</a> | 
		</td>
	</tr>
}
    </tbody>
</table>
