@page
@model WebApp.Pages.Reservation.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.StarTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.StarTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservations.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
